---
import ionicImage from '../images/ionic.png';
import laravelImage from '../images/laravel.png';
import postgresImage from '../images/postgresql.png';
import nextJsImage from '../images/next-js.svg';
import prismaImage from '../images/prisma.png';
import trpcImage from '../images/trpc.svg';
import playwrightImage from '../images/playwright.png';
import jestImage from '../images/jest.png';
import { Image } from 'astro:assets';
---

<swiper-container className="mySwiper" pagination="true">
    <swiper-slide className="bg-blue-50 rounded-xl p-10 gap-6">
        <h3 class="text-xl font-bold">TrackingTime Dashboard</h3>
        <p class="flex-1 text-sm">
            Combining the data from the gitlab and tracking time to provide insights in the teams
            performance
        </p>
        <footer class="flex gap-2">
            <div class="bg-white rounded-full p-2">
                <Image src={ionicImage} alt="Ionic" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={laravelImage} alt="Laravel" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={postgresImage} alt="PostgresSql" height="24px"/>
            </div>
        </footer>
    </swiper-slide>

    <swiper-slide class="bg-blue-50 rounded-xl p-10 gap-6">
        <h3 class="text-xl font-bold">Cockpit</h3>
        <p class="flex-1 text-sm">
            Combining the data from the gitlab and tracking time to provide insights in the teams
            performance Combining the data from the gitlab and tracking time to provide insights in the teams
            performance
        </p>
        <footer class="flex gap-2">
            <div class="bg-white rounded-full p-2">
                <Image src={nextJsImage} alt="NextJS" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={prismaImage} alt="Prisma" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={trpcImage} alt="tRPC" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={postgresImage} alt="PostgresSql" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2 grayscale-80">
                <Image src={playwrightImage} alt="Playwright" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={jestImage} alt="Jest" height="24px"/>
            </div>
        </footer>
    </swiper-slide>

    <swiper-slide class="bg-blue-50 rounded-xl p-10 gap-6">
        <h3 class="text-xl font-bold">OtisInsights</h3>
        <p class="flex-1 text-sm">
            Combining the data from the gitlab and tracking time to provide insights in the teams
            performance
        </p>
        <footer class="flex gap-2">
            <div class="bg-white rounded-full p-2">
                <Image src={ionicImage} alt="Ionic" height="24px"/>
            </div>
            <div class="bg-white rounded-full p-2">
                <Image src={laravelImage} alt="Laravel" height="24px"/>
            </div>
        </footer>
    </swiper-slide>
</swiper-container>

<script>
  import 'swiper/css';
  import Swiper from 'swiper';
  import { register } from 'swiper/element/bundle';
  register();

  new Swiper('.mySwiper', {
      slidesPerView: 3,
      grid: {
          rows: 3,
      },
      // breakpoints: {
      //   640: {
      //     slidesPerView: 2,
      //   },
      //   1024: {
      //     slidesPerView: 3,
      //   },
      // },
  });
</script>