---
import laravelImage from '@images/frameworks/laravel.png';
import ionicImage from '@images/frameworks/ionic.png';
import nextJsImage from '@images/frameworks/next-js.svg';
import vueImage from '@images/frameworks/vue.png';
import prismaImage from '@images/frameworks/prisma.png';
import postgresImage from '@images/frameworks/postgresql.png';
import playwrightImage from '@images/frameworks/playwright.png';
import trpcImage from '@images/frameworks/trpc.svg';
import jestImage from '@images/frameworks/jest.png';

import 'swiper/css';
import 'swiper/css/autoplay';
import 'swiper/css/pagination';

const breakpoints = JSON.stringify({
  640: {
    slidesPerView: 2,
  },
  1024: {
    slidesPerView: 2.5,
  },
});
---

<swiper-container
        class="grid"
        slides-per-view="1"
        pagination
        space-between="0"
        loop
        breakpoints={breakpoints}
>
    <swiper-slide>
        <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
            <h3 class="text-4xl font-bold">Cockpit</h3>
            <p class="flex-1">
                Used NextJS to create a full stack budget app too keep track of my personal finances.
                It uses Prisma ORM to connect to a Postgres database and tRPC to create a type-safe API.
                It allows me to import my bank statements and assigns them to categories, providing insights in my spending habits.
                I've rebuild this dashboard a few times in the past to try out new technologies like Angular, Laravel and the Firebase real time database.
            </p>
            <footer class="flex gap-2">
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={nextJsImage.src} alt="Nextjs" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={prismaImage.src} alt="Prisma" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={trpcImage.src} alt="tRPC" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2  flex items-center">
                    <img src={playwrightImage.src} alt="Playwright" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={jestImage.src} alt="Jest" height={24} width={24}/>
                </div>
            </footer>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
            <h3 class="text-4xl font-bold">TrackingTime Dashboard</h3>
            <p class="flex-1">
                Always wondered what is causing your team to miss deadlines?
                I created an Ionic dashboard and Laravel API that combined data from <i>TrackingTime</i> and our <i>Gitlab</i> scrum board
                to provide insights in the teams sprint performance. My team at Lyceo used this everyday, improving the performance and predictability of the team.
            </p>
            <footer class="flex gap-2">
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={ionicImage.src} alt="Ionic" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={laravelImage.src} alt="Laravel" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
                </div>
            </footer>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
            <h3 class="text-4xl font-bold">Calendar app</h3>
            <p class="flex-1">
                Why use a existing calendar app when you can build your own? I used NextJS to create a calendar app that allows me to keep track of my appointments and events.
                I leveraged the Google Calendar API to sync my events and appointments with my Google Calendar and my phone.
            </p>
            <footer class="flex gap-2">
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={nextJsImage.src} alt="NextJS" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={prismaImage.src} alt="Prisma" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={trpcImage.src} alt="tRPC" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 grayscale-80 flex items-center">
                    <img src={playwrightImage.src} alt="Playwright" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={jestImage.src} alt="Jest" height={24} width={24}/>
                </div>
            </footer>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
            <h3 class="text-4xl font-bold">Book lesson bot</h3>
            <p class="flex-1">
                Ever wanted a to book a popular group lesson at the fitness centre but it was always full? I used Playwright to create a bot that books the lesson for me.
                I build a dashboard in NextJS to schedule the bot and to keep track of the lessons it booked. As soon as the reservations for the lesson opened the bot would book the lesson for me.
            </p>
            <footer class="flex gap-2">
                  <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={nextJsImage.src} alt="NextJS" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={prismaImage.src} alt="Prisma" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={trpcImage.src} alt="tRPC" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 grayscale-80 flex items-center">
                    <img src={playwrightImage.src} alt="Playwright" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={jestImage.src} alt="Jest" height={24} width={24}/>
                </div>
            </footer>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
            <h3 class="text-4xl font-bold">Fleetic</h3>
            <p class="flex-1">
                Build a reserveration tool to manage the fleet at rowing clubs. I used VueJS and Laravel to create a tool that allows members to reserve a rowing boat for a training session.
            </p>
            <footer class="flex gap-2">
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={vueImage.src} alt="Vue.js" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={laravelImage.src} alt="Laravel" height={24} width={24}/>
                </div>
            </footer>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
            <h3 class="text-4xl font-bold">Recipe scraper</h3>
            <p class="flex-1">
                Are all your favorite recipes scattered around the web? And would you like to have them all in one place?
                I used Playwright and the Bing Chat bot to create a bot that scrapes recipes from the web and adds them to my recipe app.
            </p>
            <footer class="flex gap-2">
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={nextJsImage.src} alt="Nextjs" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={prismaImage.src} alt="Prisma" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={trpcImage.src} alt="tRPC" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2  flex items-center">
                    <img src={playwrightImage.src} alt="Playwright" height={24} width={24}/>
                </div>
                <div class="bg-white rounded-full p-2 flex items-center">
                    <img src={jestImage.src} alt="Jest" height={24} width={24}/>
                </div>
            </footer>
        </div>
    </swiper-slide>

</swiper-container>
