---
import laravelImage from '../../images/laravel.png';
import ionicImage from '../../images/ionic.png';
import nextJsImage from '../../images/next-js.svg';
import prismaImage from '../../images/prisma.png';
import postgresImage from '../../images/postgresql.png';
import playwrightImage from '../../images/playwright.png';
import trpcImage from '../../images/trpc.svg';
import jestImage from '../../images/jest.png';

import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';

const breakpoints = JSON.stringify({
  640: {
    slidesPerView: 2,
  },
  1024: {
    slidesPerView: 2.5,
  },
});
---

<swiper-container
  class="grid"
  slides-per-view="1"
  pagination
  space-between="0"
  loop
  breakpoints={breakpoints}
>
  <swiper-slide>
    <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
      <h3 class="text-4xl font-bold">TrackingTime Dashboard</h3>
      <p class="flex-1">
        Combining the data from the gitlab and tracking time to provide insights in the teams
        performance Combining the data from the gitlab and tracking time to provide insights in the teams
        performance
      </p>
      <footer class="flex gap-2">
        <div class="bg-white rounded-full p-2">
          <img src={ionicImage.src} alt="Ionic" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={laravelImage.src} alt="Laravel" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
        </div>
      </footer>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
      <h3 class="text-4xl font-bold">Cockpit</h3>
      <p class="flex-1">
        Combining the data from the gitlab and tracking time to provide insights in the teams
        performance Combining the data from the gitlab and tracking time to provide insights in the teams
        performance
      </p>
      <footer class="flex gap-2">
        <div class="bg-white rounded-full p-2">
          <img src={nextJsImage.src} alt="Nextjs" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={prismaImage.src} alt="Prisma" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={trpcImage.src} alt="tRPC" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2 grayscale-80">
          <img src={playwrightImage.src} alt="Playwright" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={jestImage.src} alt="Jest" height={24} width={24}/>
        </div>
      </footer>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
      <h3 class="text-4xl font-bold">Calendar app</h3>
      <p class="flex-1">
        Combining the data from the gitlab and tracking time to provide insights in the teams
        performance Combining the data from the gitlab and tracking time to provide insights in the teams
        performance
      </p>
      <footer class="flex gap-2">
        <div class="bg-white rounded-full p-2">
          <img src={nextJsImage.src} alt="NextJS" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={prismaImage.src} alt="Prisma" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={trpcImage.src} alt="tRPC" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={postgresImage.src} alt="PostgresSql" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2 grayscale-80">
          <img src={playwrightImage.src} alt="Playwright" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={jestImage.src} alt="Jest" height={24} width={24}/>
        </div>
      </footer>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
      <h3 class="text-4xl font-bold">Fleetic</h3>
      <p class="flex-1">
        Combining the data from the gitlab and tracking time to provide insights in the teams
        performance Combining the data from the gitlab and tracking time to provide insights in the teams
        performance
      </p>
      <footer class="flex gap-2">
        <div class="bg-white rounded-full p-2">
          <img src={ionicImage.src} alt="Ionic" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={laravelImage.src} alt="Laravel" height={24} width={24}/>
        </div>
      </footer>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-slide glow-card bg-blue-50 dark:bg-card rounded-xl p-10 flex flex-col gap-6">
      <h3 class="text-4xl font-bold">Book lesson bot</h3>
      <p class="flex-1">
        Combining the data from the gitlab and tracking time to provide insights in the teams
        performance Combining the data from the gitlab and tracking time to provide insights in the teams
        performance
      </p>
      <footer class="flex gap-2">
        <div class="bg-white rounded-full p-2">
          <img src={ionicImage.src} alt="Ionic" height={24} width={24}/>
        </div>
        <div class="bg-white rounded-full p-2">
          <img src={laravelImage.src} alt="Laravel" height={24} width={24}/>
        </div>
      </footer>
    </div>
  </swiper-slide>
</swiper-container>
